.width_nav {
    width: 17% !important;
}
.navbar {
    height: 100vh;
    background-color: #343a40;
    color: white;
}
.navbar-nav {
    text-align: center;
}
.nav-item {
    margin-top: 2rem;
}
.nav-item:hover {
    background-color: #6c757d;
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: .1rem;
}
.hide {
    display: none;
}
.active {
    background-color: rgb(37, 37, 250);
    margin-left: .3rem;
    margin-right: .3rem;
    border-radius: .1rem;
}